@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&family=Raleway:wght@400;500;700&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:wght@400;500;700&family=Roboto:wght@100;400&display=swap');

.container {
    /* padding-top: px; */
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.sidebar {
    position: fixed;
    width: 30%;
    height: 100%;
    /* padding-top: 8%; */
    padding-top: 100px;
    /* box-shadow: 0px 0px 0px rgb(0 0 0/ 10%), 0px 0px 10px rgb(0 0 0/ 10%); */
}

.SecTitle {
    margin: 7px 20px;
    font-size: 1.4rem;
    font-weight: 500;
    transition: all 1s;
    animation: 0.5s slide-right;
}

.SecTitle {
    list-style: none;
}

.SecTitleWrap {
    display: flex;
    align-items: center;
}

.SecTitleWrap button {
    background-color: rgb(230, 230, 230);
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
}
.SecTitleWrap button:hover{
    border: .5px solid #1c1c1c;
}

.container_projects {
    width: 100%;
    margin: 0px auto;
    padding: 90px 70px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects_wrap {
    width: 370px;
    display: flex;
    gap: 2%;
}

@keyframes slide-right {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}



.right {
    margin-top: 30px;
    /* background-color: red; */
    padding: 50px;
    margin-left: 30%;
    /* width: 70%; */
}

.content ul li {
    list-style: none;
}

.about {
    margin: 20px;
    line-height: 1.7;
}

.skill_title {
    margin: 10px 22px;
}

progress {
    margin: 6px 20px;
    height: 30px;
    width: 60%;
}

.item {
    margin: 10px 32px;
}


.dash {
    display: flex;
    gap: 10%;
}

.edudiv div {
    margin: 20px;
}

.edudiv div p {
    margin: 10px 0;
}



.certify_wrap {
    margin: 20px;
}

.certify_wrap a {
    text-decoration: none;
    color: black;
    line-height: 1.4;
}

.certify_wrap a:hover {
    text-decoration: underline;
}

/* responsive */



/* POPUP CSS Start*/
.popup_wrap {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    height: 60%;
    /* background-color: red; */
    box-shadow: 0px 0px 50px rgb(0 0 0 / 12%);
    /* filter: none; */
}

.close_btn {
    position: absolute;
    top: 10%;
    left: 90%;
    width: 40px;
    height: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.project_btn {
    background-color: #fff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

.live{
    margin: 10px;
    color: red;
    font-size: .8rem;
}

/* mobile */


@media (min-width: 414px)and (max-width: 1024px) {
    .sidebar {
        position: static;
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        box-shadow: none;
    }

    .right {
        padding: 5%;
        margin-left: 0;
        width: 100%;
    }


    .container {
        margin: 0 auto;
        padding-top: 90px;
        height: 100%;
        width: 100%;
        display: block;
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
    }

    .dash {
        display: block;
    }
}

@media (min-width: 1024px) {
    .container {
        font-size: 1.1rem;
    }


    .left {
        width: 30%;
    }

    .right {
        width: 70%;
    }
}

@media (max-width: 414px) {
    .sidebar {
        position: static;
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        box-shadow: none;
    }

    .right {
        padding: 5%;
        margin-left: 0;
        width: 100%;
    }

    .container {
        margin: 0 auto;
        padding-top: 90px;
        height: 100%;
        width: 100%;
        display: block;
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
    }

    .dash {
        display: block;
    }
}

@media (max-width: 768px) {
    .container_projects {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width: 910px) {
    .container_projects {
        margin-top: 0px;
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* justify-content: center; */
    }

}

/* resume */
iframe{
    width: 90%;
    height: 100vh;
    padding: 0 20px;
    /* border: none; */
    margin: 0 20%;
}

@media (max-width: 400px){
    iframe{
        width: 100%;
        height: 100vh;
        margin: 0;

    }
}
@media (min-width: 400px) and (max-width: 614px) {
    iframe{
        width: 100%;
        height: 100vh;
        margin: 0;
    }
}

@media (min-width: 615px) and (max-width: 900px) {
    iframe{
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 900px){
    iframe{
        width: 100%;
        height: 100vh;
        margin: 0 5%;
        /* padding: 0 150px; */
    }
}