@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.container{
    padding-top: 150px;
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

.travel a{
    text-decoration: none;
    color: blue;
}
.travel div{
    font-size: 1.2rem;
}
.container label{
    font-weight: 400;
}