@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-primary: #14131a;
    --card-primary: #1c1b23;
    --btn-primary: #3a3942;
    --btn-secondary: #1c1b23;
    --text-primary: #8b8a91;
    --text-secondary: #79787f;
    --text-info: #4f4f52;
    --text-highlight: #fff;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--bg-primary);
    /* visibility: hidden; */
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background-color: black;
    border-radius: 10px;
}